<div class="border-bottom lh-1 py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
            <a class="link-secondary" href="#"></a>
        </div>
        <div class="col-4 text-center">
            <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">Tableau de bord</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="card bg-success text-white">
            <div class="card-body d-flex align-items-center">
                <img src="../../assets/book_64px.png" alt="">
                <div class="stat-content">
                    <div class="stat-text">Livre</div>
                    <div class="stat-digit">1,012</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-primary text-white">
            <div class="card-body d-flex align-items-center">
                <img src="../../assets/borrow_book_64px.png" alt="">
                <div class="stat-content">
                    <div class="stat-text">Emprunts</div>
                    <div class="stat-digit">961</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-warning text-white">
            <div class="card-body d-flex align-items-center">
                <img src="../../assets/ticket_purchase_52px.png" class="mx-3" height="64px" alt="">
                <div class="stat-content">
                    <div class="stat-text">Réservation</div>
                    <div class="stat-digit">770</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card bg-danger text-white">
            <div class="card-body d-flex align-items-center">
                <img src="../../assets/group_240px.png" height="64px" alt="">
                <div class="stat-content">
                    <div class="stat-text">Membres</div>
                    <div class="stat-digit">2,781</div>
                </div>
            </div>
        </div>
    </div>
</div>
